#piece-promotion {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border: 2px solid black;
  background: white;
  padding: 1em;
}

#underlay {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(50,50,50,0.5);
  z-index: 9;
}

ul, ol {
  list-style-position: inside;
  margin: 1em 0;
}

#piece-promotion .piece, #captured .piece {
  float: left;
}

section#content {
  min-width: 800px;
  max-width: 800px;
  margin: 20px;
}

section#content > section {
  float: left;
}

section.board {
  width: 60%;
}

section.information {
  width: 40%;
}

section.rules {
  width: 100%;
  padding: 1em;
}

section.information > section {
  margin: 0 1em 1em 1em;
}

table#chess, .piece {
  border-collapse: collapse;
  vertical-align: middle;
  font-size: 48px;
}

table#chess td {
  border: 1px solid black;
}

table#chess td, table#chess th {
  width: 60px;
  height: 60px;
  line-height: 48px;
  text-align: center;
}

table#chess tr:nth-child(odd) td:nth-child(odd),
table#chess tr:nth-child(even) td:nth-child(even)
{
  background-color: #ccc;
}

table#chess td.possible {
  box-shadow: inset 0em 0em 0.6em 0.1em rgba(0, 128, 0, 0.4);
}

.piece {
  color: black;
  display: block;
  width: 48px;
  height: 48px;
}

.piece[data-piece='king'][data-checked='true']:before {
  color: red;
}

.piece:before {
  display: block;
  width: 54px;
  height: 54px;
}

.piece.selected:before {
  display: block;
  text-shadow: rgba(0, 0, 128, 0.8) 0em 0em 0.1em;
}

/* http://chess.stackexchange.com/q/6272/4152            */
/* http://en.wikipedia.org/wiki/Chess_symbols_in_Unicode */
*[data-player='white'][data-piece='king']:before  { content: '\2654'; }
*[data-player='white'][data-piece='queen']:before   { content: '\2655'; }
*[data-player='white'][data-piece='rook']:before   { content: '\2656'; }
*[data-player='white'][data-piece='bishop']:before { content: '\2657'; }
*[data-player='white'][data-piece='knight']:before { content: '\2658'; }
*[data-player='white'][data-piece='pawn']:before   { content: '\2659'; }

*[data-player='black'][data-piece='king']:before  { content: '\265A'; }
*[data-player='black'][data-piece='queen']:before   { content: '\265B'; }
*[data-player='black'][data-piece='rook']:before   { content: '\265C'; }
*[data-player='black'][data-piece='bishop']:before { content: '\265D'; }
*[data-player='black'][data-piece='knight']:before { content: '\265E'; }
*[data-player='black'][data-piece='pawn']:before   { content: '\265F'; }
